body {
    background-color: #F6C44A;  /* 背景色を画像のような黄色に設定 */
}

h1, h2, h3, h4, h5, h6, p {
    color: #333333;  /* 文字色を濃いグレーに設定 */
}

/* footer.md-footer {
    display: none;
} */

footer {
    display: block !important;
}

/* h1: 大見出しのスタイル */
h1 {
    text-align: center;
    font-size: 48px;
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* 少しシャドウを追加 */
}

/* h2: 中見出しのスタイル */
h2 {
    text-align: center;
    font-size: 28px;
    /* color: #34495e; */
    color: white;
    font-weight: bold;
}

/* h3: 小見出しのスタイル */
h3 {
    text-align: center;
    font-size: 24px;
    color: #7f8c8d;
}

/* 段落のスタイル */
p {
    font-size: 18px;
    color: #34495e;
    text-align: center;
}

/* 画像のスタイル */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 10px;
}


/* ページ全体の中央に配置 */
.product-card {
    border: 1px solid #ed5050;
    padding: 10px;
    margin: 20px auto;  /* 上下の余白、左右は自動で中央に配置 */
    background-color: #f9f8f6; /* 茶色の背景 */
    max-width: 400px;
    transition: box-shadow 0.3s;
    text-align: left;
    border-radius: 8px;  /* 角を少し丸くする */
}

/* ホバー時の影 */
.product-card:hover {
    box-shadow: 0 4px 8px rgba(17, 8, 3, 0.2);
}

/* リンクのスタイル */
.product-card a {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* 画像のスタイル */
.product-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* 商品情報のスタイル */
.product-info {
    padding: 20px 0;
    text-align: center;  /* 商品情報を中央揃え */
}



/* ヘッダーの背景色を変更 */
.md-header {
    background-color: #F6C44A;  /* お使いの背景色に合わせてください */
}

/* ヘッダーのタイトルやナビゲーションテキストの色を変更 */
.md-header .md-header-nav__title,
.md-header .md-nav__link {
    color: #000;  /* 必要に応じてテキスト色も変更（ここでは黒） */
}

/* ヘッダーの文字色を黒に設定 */
.md-header {
    color: black !important;
}

.md-header-nav__title {
    color: black !important;
}

.footer-nav-button {
    text-align: center;
    margin: 20px;
}

.footer-nav-button a {
    display: inline-block;
    background-color: #d2b48c;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}

.footer-nav-button a:hover {
    background-color: #8B4513;
    color: white;
}

.md-footer {
    background-color: #f4ca66; /* バックグラウンドと同じ色に設定 */
}

/* FooterのMaterial for MkDocsのメッセージとGitHubアイコンを非表示にする */
.md-footer-copyright, 
.md-footer-social {
    display: none !important; /* 完全に非表示にする */
}
